@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .grid-span-first-2 > :nth-child(1) {
    grid-column: span 2 / span 2;
  }

  .grid-span-first-4 > :nth-child(4) {
    grid-column: span 2 / span 2;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .tab-button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #1A80E5;
  }
  .active-tab::after{
    width: 100%;
  }
}
